* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  margin: 10px;
}
input,
select {
  margin-right: 10px;
}
p {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
